.tarifa-item p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;  /* Elimina margen superior */
    margin-bottom: 0; /* Elimina margen inferior */
    margin-left: 20px;  /* Espacio más pequeño entre cada elemento */
    margin-right: 20px; /* Espacio más pequeño entre cada elemento */
}

.dias{
    font-weight: 700;
    font-size: 13pt;
}

.semana{
    font-size: 10pt;
    font-weight: 400;
}

.precio{
    font-weight: 700;
    font-size: 13pt;
}

.detalle-tarifas{
    margin-left: 10px;
    font-size: 8tp;
    font-weight: 400;
    margin-bottom: 0px;

}



