.btn-wpp {
    color: var(--primary-color);
    border-color: var(--dark-color);
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px;
}

.wpp-icon {
    margin-right: 10px;
}

.btn-link {
    margin-left: 5px;
    color: var(--primary-color);
}

.icono-horario{
    display: flex;
    margin-left: 30px;
    margin-top: 10px;
}

.contenedor-horarios{
    padding-left: 20px;
}