*{
    box-sizing: border-box;   
    margin: 0;
    padding: 0;
   }

:root{
    --tamaño-fuente: 13pt;
    --primary-color: #333366;
    --dark-color: #330000;
    --ligth-color: #FFEEE1;   
}

.App{
    font-family: ofelia-display, sans-serif;
    font-size: var(--tamaño-fuente);
    max-width: 500px; /* Establece el ancho máximo */
    margin: 0 auto; /* Centra el contenido horizontalmente */
    padding: 0 15px; /* Opcional: agrega un pequeño padding lateral */
    color: var(--primary-color);
}

a{
    text-decoration: none;
}

.logotipo {
    font-size: var(--tamaño-fuente);
    font-weight: 800;
    padding-top: 6px;
    color: var(--primary-color);
  }

.titulo{
    font-size: var(--tamaño-fuente);
    font-weight: 500;
    margin-left: 10px;
}

.parrafo{
    font-size: 10pt;
    font-weight: 500;
    margin-left: 10px;
}