/*index.css*/
@font-face {
  font-family: 'Macbeth Regular';
  src: url('./assets/fonts/Macbeth-Reguler.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Macbeth Regular', 'Segoe UI', Tahoma, sans-serif !important;
  background-color: var(--bg-color);
  color: var(--primary-color);
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  font-family: 'Macbeth Regular', 'Segoe UI', Tahoma, sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
