/*index.css*/
body {
  font-family: 'Ofelia Display', 'Montserrat', 'Segoe UI', Tahoma, sans-serif;
  background-color: var(--bg-color);
  color: var(--primary-color);
  margin: 0;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
